declare namespace ns = "http://schemas.fortaleza.ce.gov.br/acao/dossie.xsd";
declare namespace dc = "http://schemas.fortaleza.ce.gov.br/acao/documento.xsd";
for $x at $i in collection("[% id_volume %]")/ns:dossie[ns:controle = [% controle %] ]/ns:doc/*/*/*/*  return [% xqueryret %]
