(
    <tr>
        <td>
	        <a href="[% c.uri_for('/auth/registros/volume/') _ id_volume _ '/' _ controle %]/visualizar/{$i}/{substring(namespace-uri($x),41)}" >
                {$i} 
            </a>
        </td>
        <td>
	        {$x/ns:dossie/ns:criacao/text()}
        </td>
        <td>
	        {$x/ns:dossie/ns:classificacao/text()}
        </td>
	<input type="hidden" id="id_dossie" nome="id_dossie" value="{$x/ns:dossie/ns:collection/text()}"/>
    </tr>
)
