[% breadcrumb.unshift({ url => c.uri_for('/auth/registros/revisor/') _ leitura.id_leitura _ '/visualizar/' _ id_doc,
			title => 'Visualizar',
			text => 'Visualizar' }) %]
[% INCLUDE 'auth/registros/revisor/leitura/header.tt' %]
