declare namespace ns = "http://schemas.fortaleza.ce.gov.br/acao/dossie.xsd";
declare namespace dc = "http://schemas.fortaleza.ce.gov.br/acao/documento.xsd";
declare namespace pes = "http://schemas.fortaleza.ce.gov.br/acao/sdh-identificacaoPessoal.xsd";

count(
      for $x in collection("[% id_volume %]")/ns:dossie
      
      where [% where_nome_membro %]

      and [% where_nome_mae %]
  
      return ''
)
