html
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
a {
  outline: none;
}
body {
  background: url(../img/degrade.jpg) repeat-x 0% 130px;
  margin: 0px;
}

h2 {
  margin-top: 5px;
  font-size: 2em;
  margin-bottom: 5px;
}

a, a:active, a:hover, a:visited {
  color: #CC0000;
  text-decoration: underline;
}

#topo
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto 0px;
    padding-top: 0px;
    height: 100px;
    /*width: 760px;*/
    background: #D40000 url(../img/bg_topo2.png) top left repeat-x;
}
#topo a {
  background: url(../img/user/user_edit.png) no-repeat left center;
  padding-left: 22px;
  text-decoration: none;
  color: #ffffff;
}
#topo img {
  margin:2px;
  float:left;
}

#topoTitulo
{
    padding-top: 20px;
    font-size: 100%;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px #CC0000;
    letter-spacing: 1px;
    color: #FFFFFF;
    float: right;
    margin-right: 30px;
}

#topoTitulo table
{
    border: 0px;
    padding: 0px;
    margin: 5px 0px 10px;
    font-size: 75%;
    font-weight: normal;
    text-transform: none;
}

#barraTopo
{
    margin: 0px auto 0px;
    text-shadow: 0 2px 3px #FFFFFF;
    height: 30px;
    background: #FFD214 url(../img/bgRodape.png) top left repeat-x;
    z-index: 10;
    font-weight: bold;
    color: #000000;
}

#barraTopo ul
{
    margin-top: 0px;
    padding-left:30px;
  padding-right: 10px;
    padding-top: 5px;
    margin-bottom: 0px;
    list-style:none;
}

#barraTopo ul li:hover
{
    overflow: visible;
}

#barraTopo ul li
{
    overflow: hidden;
    line-height: 1.5em;
    font-size:90%;
    display: block;
    float: left;
    position: relative;
    margin-right: 20px;
}

#barraTopo ul li a
{
    color:#6C3600;
    text-decoration:none;
}

#barraTopo ul li a:hover
{
    color:#CC6600;
}

#barraTopo ul li ul
{
    margin-top: 0.45em;
    background-color:#FFFFFF;
    margin-top:0px;
    padding:0px;
    position: absolute;
    z-index: 10;
    top: 1.5em;
    left: 0;
}

#barraTopo ul li ul li
{
    background-color:#FFCC66;
    width: 12em;
    display:block;
    padding: 0.15em;
    padding-left: 0.4em;
    margin-top: 1px;
    margin-right:0;
    z-index: 10;
}

#barraTopoCaminho
{
    margin: 20px 30px 0px;
    text-align:left;
  background: url(../img/house.png) no-repeat 0% 1px;
  text-indent: 22px;
  font-size: 13px;
  /*height: 22px;*/
    /*width:758px;*/
    /*border: 1px solid #E6B800;*/
}

#barraTopoCaminho h2 {
  text-indent: 0px;
}

.navmenu {

  border-top: 1px solid #999;
  margin-top: 0px;
  list-style: none;
  padding-left: 0px;
  margin: 0px 30px 0px;
  padding-left: 12px;
  background: #EFEFEF;
  font-size: 13px;
  text-shadow: -1px 1px 0px #FFF;

}

  .navmenu ul.abas {
    margin: 0px;
    margin-left: 20px;
    padding-left: 0px;
    display: inline;
  }
    .navmenu ul.abas li {
      padding: 7px 16px;
    }
    .navmenu ul.abas li.ativa {
      background: white;
    }
      .navmenu ul.abas li.ativa a {
        color: black;
        text-decoration: none;
      }

.navmenu li {
  display: inline;
  line-height: 30px;
  padding-right: 20px;
}

a.novo {
  background: url('../img/add.png') no-repeat 0% 50%;
  padding-left: 22px;
}
a.voltar {
  background: url('../img/18.png') no-repeat 0% 50%;
  padding-left: 22px;
}

#conteudo
{
    margin: 20px 30px;
    padding: 0px;
    text-align: left;
    /*width: 758px;*/
    height: auto;
    /*border: 1px solid #E6B800;*/
    font-size: 12px;
    text-transform: none;
    /*background-color: #FFFFFF;*/
}

#conteudo table
{
    text-align: left;
}

#rodape
{
    font-size: 12px;
    font-weight: normal;
    text-transform:none;
    background: #FFD214 url(../img/bgRodape.png) top left repeat-x;
    color:#CC0000;
     position:fixed;
     left:0px;
     bottom:0px;
     height:30px;
     width:100%;


}

form {
    font-family: sans-serif;
    background-color: transparent;
}

fieldset
{
    padding: 0;
    padding-top: 0.8em;
    margin: 0 0 0.4em;
    border: 0;
}

fieldset dl dd
{
  width: 30em;
  margin : 0;
  margin-bottom: -1em;
  padding: 2px;
  position: relative;
  top: -1.7em;
  left: 15em;
}

fieldset dl dt
{
  width: 15em;
  position: relative;
}

fieldset dl dd textarea,
fieldset dl dd input,
fieldset dl dd textarea,
fieldset dl dd select
{
  display: inline;
  width: 100%;
  position: relative;
}
fieldset dl.buscaControle{
  margin-bottom: 0.2em;
}

fieldset dl.buscaControle dd input
{
  display: inline;
  width: 40%;
  position: relative;
}

fieldset dl.buscaControle dd select
{
  display: inline;
  width: 40%;
  position: relative;
  margin-left: 1.6em;
}

legend {
    font-weight: bold;
    text-decoration: underline;
}

.dtsemdd {
  width: 30em;
  margin-bottom:4px;
}

.textoPequeno
{
    width: 120px;
    color:#CC0000;
}

.textoMedio
{
    width: 240px;
    color:#CC0000;
}

.textoGrande
{
    width: 500px;
    color:#CC0000;
}

.textoSimbolo
{
    width: 50px;
    color:#CC0000;
}

input[type=submit], input[type=button], input[type=reset], input[type=password], button,
{
    border-style: solid;
    border-width: 1px;
    background-position: #FFFFFF;
    font-family: Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    color: #CC0000;
    background: #FFFF99;
    padding: 2px 4px;
    border-color: #E6B800;
    margin: 3px 3px 3px 0px;
    text-shadow: -1px 1px 0px #FFF;
}

table thead tr th
{
  color: #FFFFFF;
  background: #CC0000;
  padding: 5px;
  font-size: 1.1em;
  text-shadow: -1px 1px 0px #990000;
  border-bottom: #990000 solid 2px;
  white-space: nowrap;
}

table tbody tr td
{
  padding: 3px;
  font-size: 1em;
  border-bottom: #EAAB15 solid 1px;
  white-space: nowrap;
  text-align: center;
}

.linha_com_dados_extra {
    border: 0;
}

.revisordadosform {
    font-style: italic;
    text-align: left;
    font-size: 80%;
}

a.fechar
{
  display: block;
  width: 28px;
  height: 22px;
  text-indent: -9999px;
  text-decoration: none;
  background: url(../img/application_form_delete.png) no-repeat center center;
  overflow: hidden;
  border: none;
  padding: 0px;
}

a.aprovar
{
  display: inline-block;
  width: 28px;
  height: 22px;
  text-indent: -9999px;
  text-decoration: none;
  background: url(../img/accept.png) no-repeat center center;
  overflow: hidden;
  border: none;
  padding: 0px;
}

a.rejeitar
{
  display: inline-block;
  width: 28px;
  height: 22px;
  text-indent: -9999px;
  text-decoration: none;
  background: url(../img/cancel.png) no-repeat center center;
  overflow: hidden;
  border: none;
  padding: 0px;
}

a.arquivar
{
  display: inline-block;
  width: 28px;
  height: 22px;
  text-indent: -9999px;
  text-decoration: none;
  background: url(../img/cancel.png) no-repeat center center;
  overflow: hidden;
  border: none;
  padding: 0px;
}

a.link_vazio {
  display: inline-block;
        width: 28px;
        height: 22px;
  text-indent: -9999px;
  text-decoration: none;
  overflow: hidden;
  border: none;
  padding: 0px;
}

a.visualizar
{
  display: inline-block;
  width: 28px;
  height: 22px;
  text-indent: -9999px;
  text-decoration: none;
  background: url(../img/magnifier.png) no-repeat center center;
  overflow: hidden;
  border: none;
  padding: 0px;
}
.striped
{
  background: #FFFF99;
}

/* Alteração Bruno */
/*form fieldset a
{
  border-style: solid;
    border-width: 1px;
    background-position: #FFFFFF;
    font-family: Sans-Serif;
    font-size: 11px;
    font-weight: bold;
    color: #CC0000;
    background: #FFFF99;
    line-height: 24px;
    border-color: #E6B800;

  text-decoration: none;
  padding: 1px 10px;

}*/
/* Alteração Bruno - Fim */

input[type=text]
{
    border:1px solid #E6B800;
    background-position: #FFFFFF;
    font: normal 1.0em Sans-Serif;
    color: #CC0000;
    background: #FFFFAF;
    height: 18px;
}

textarea
{
    border:1px solid #E6B800;
    background-position: #FFFFFF;
    font: normal 1.0em Sans-Serif;
    color: #CC0000;
    background: #FFFFAF;
}

select
{
    border:1px solid #E6B800;
    background-position: #FFFFFF;
    font: normal 1.0em Sans-Serif;
    color: #CC0000;
    background: #FFFFAF;
    height: 2em;
}

/* Solução Temporária! */
button {
  height: 22px;
}

.grid
{
    /*width: 98%;*/
  width: 100%;
}

.grid th
{
    background-color: #CC0000;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}

.grid td
{
    background-color: #FFFFFF;
    font-weight: normal;
    /*color: #CC0000;*/
    text-align: left;
}

.grid td, .grid th {
  padding: 3px 6px;
}

.grid tfoot td, .grid tfoot th {
  background-color: #CC0000;
  color: #FFF;
}

#login
{
    margin: 120px auto 50px;
    width: 400px;
}

#loginTopo
{
    margin:0px;
    padding-left:30px;
    padding-top:3px;
    height:24px;
    letter-spacing:1px;
    color:#6C3600;
    background: #E6B800 url(../img/bgLoginTopo.png) center top no-repeat;
}

#loginConteudo
{
    margin:0px;
    padding-top:30px;
    padding-left: 10px;
    padding-bottom:10px;
    height: auto;
    border: #E6B800 solid 1px;
    background: url(../img/bgLogin.png) bottom right no-repeat;
}

#loginConteudo fieldset
{
    border: none;
}

#loginConteudo fieldset dt
{
    float: left;
    width: 5em;
    padding:5px;
}

#loginConteudo fieldset dd
{
    margin : 0;
    padding:5px;
}

/* Alterações Bruno 28/09/2009 */
a.editar  {
  display: block;
  width: 28px;
  height: 22px;
  text-indent: -9999px;
  text-decoration: none;
  background: url(../img/pencil.png) no-repeat center center;
  overflow: hidden;
  border: none;
  padding: 0px;

}



a.detalhes {
  display: block;
  width: 28px;
  height: 22px;
  text-indent: -9999px;
  text-decoration: none;
  background: url(../img/magnifier.png) no-repeat center center;
  overflow: hidden;
  border: none;

  padding: 0px;
}

button.detalhes {
  display: inline-block;
  cursor:pointer;
  width: 28px;
  height: 22px;
  text-indent: -9999px;
  text-decoration: none;
  background: url(../img/magnifier.png) no-repeat center center;
  overflow: hidden;
  border: none;

  padding: 0px;
}

tr.odd td {
  background-color: #EEE;
}

#mensagem {
  padding: 10px 10px 10px 40px;
  margin: 10px;
  background-color: lightyellow;
  border: 1px dotted #E7E7C7;
}

.sucesso {
        font-size: 1.3em;
        font-weight: bold;
  color: darkgreen;
        background-color: #ffffaf;
  background-image: url(../img/02.png);
  background-position: 12px 50%;
  background-repeat: no-repeat;
        padding: 1em 2em 1em 3em;
        margin: 1em;
        margin-bottom: 2em;
        display: block;
        border: solid 1px darkgreen;
}

.erro {
        font-size: 1.3em;
        font-weight: bold;
  color: darkred;
  background-image: url(../img/exclamation.png);
  background-position: 12px 50%;
  background-repeat: no-repeat;
        background-color: #fe9;
        margin: 1em;
        margin-bottom: 2em;
        padding: 1em 2em 1em 3em;
        display: block;
        border: solid 1px darkred;
}


/* Plugin Autocomplete */
.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ac_results li {
  margin: 0px;
  padding: 2px 5px;
  cursor: default;
  display: block;
  /*
  if width will be 100% horizontal scrollbar will apear
  when scroll mode will be used
  */
  /*width: 100%;*/
  font: menu;
  font-size: 12px;
  /*
  it is very important, if line-height not setted or setted
  in relative units scroll will be broken in firefox
  */
  line-height: 16px;
  overflow: hidden;
}

.ac_loading {
  background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
  background-color: #FFF3C6;
}

.ac_over {
  background-color: #FF6600;
  color: white;
}

/* Relatórios */
body.relatorio { margin: 20px; background: white; }
body.relatorio thead th { background-color: white; color: black; }

.estado_rejeitado {
    color: #666;
}

.escondido {
    display: none;
}

.xsd__validationfailed {
    background-color: #FFF0F0 !important;
    border: 1px solid #CC0000;
}

/* Adicionar Usuário e Navegação LDAP */
.registro {
  width: 7em !important;;
  float: left;
  margin-left: 1em;
  margin-top: 2em;
}
.registroLDAP {
  width: 25.5em;
  float: left;
  margin-left: 10px;
}

.registro dl  {
  width: 7em !important;
}
.registro  dl dt {
  width: 2em !important;
  border-bottom: 0px !important;

}
.registro dl dd {

  left: 2em !important;
  top: -1.8em !important;
  width: 10em !important;
}

.cadInfoUser {
  width: 30em !important;
  float: left !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.cadInfoUser dl {

  border-bottom: 0px !important;
  margin: 0px !important;
}

.cadInfoUser dl dt {
  width: 6em !important;

}

.cadInfoUser dl dd {
  left: 6em !important;
  top: -1.8em !important;
  width: 24.5em !important;

}

.cadInfoLogin {
  width: 28.5em !important;
  margin-left: 10px !important;

}

.cadInfoLogin dl {
  width: 8em !important;
  margin: 0px !important;
}

.cadInfoLogin dl dt {
  width: 6em !important;

}
.cadInfoLogin dl dd {
  left: 6em !important;
  top: -1.8em !important;
  width: 23em !important;

}

#acoes_ {
  left: 240px;
  position: relative;
  top: -145px;
}

.consultaLdap_new {
  float: left;
  margin-right: 5px;

}

.dnLdap, .dnAssunto, .dnLocal {
  width: 274px !important;
}

#grid-autorizacoes table {

  width: 660px !important;
  position: relative;
}
.navegaLDAP .consultaLdap {

  position: relative;
  height: 220px;
  width: 260px;
  border-right: 0px dotted #cccccc;
 float: right;

}

.navegaLDAP #borderAutorizacao {
  border: 0px solid;
  border-color: #cccccc;

  height: 200px;

}

.navegaLDAP .consultaLdap_ {
  height: 180px;
  overflow-y: scroll !important ;
  position: relative;
  width: 280px;
   float: right;


}

.navegaLDAP .consultaLdap .base {
  border-bottom: 1px dotted #cccccc;
  margin-bottom: -6px;


}

.lotacao {


}

.autorizacao {
  width: 36.5em !important;
  float: left;
  height: 25em;
  margin-right: 10px;
}

.navegaLDAP {
  position: relative;
  width: 20.5em !important;
  left: 2em;
  padding-left: 5em !important;
  height:252px

}

.checkUserLdap {
  left: 27.8em;
  position: absolute;
  z-index: 3;}

#dica {
  position: absolute;
  width: 300px !important;
  height: 30px !important;
  border: 1px solid #cccccc;
  top: -1em;
  left: -25em;
  background-color: #E6B800;
  color: #ffffff;
  padding-left: 10px;
  z-index: 4;
}

.floatAndMargem {
  float: left;
  width: 450px;
  margin-right: 20px;
}

#acoes_ {
  left: 240px;
  position: relative;
  top: -145px;
}

.consultaLdap {

  position: relative;
  height: 220px;
  width: 200px;
  border-right: 1px dotted #cccccc;

}

#borderAutorizacao {
  border: 1px solid;
  border-color: #cccccc;
  padding: 20px;
  height: auto;

}

.consultaLdap_ {
  height: 200px;
  overflow-y: scroll !important ;
  position: relative;
  width: 200px;

}

.consultaLdap .base {
  border-bottom: 1px dotted #cccccc;
  margin-bottom: -6px;
}



/* END Adicionar Usuário e Navegação LDAP by Carlos Wherbet */

/* icones , Botões e Links */
#help {
  height: auto;
  margin-right: 20px;
  float: none;
  margin-top: 12px;



}


#help img {
  width: 16px;
  height: 16px;
  float: right;
  top: -10px;
  position:relative;
  right: -40px;
  cursor: pointer;


}

#help p {

  float:none;
  text-align: justify;
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-top: -10px;




}
a.workplace_add {
    background: url("../img/workplace/building_add.png") no-repeat scroll 0 1px transparent ;
    line-height: 18px !important;
    padding: 2px 2px 5px 20px !important;

    text-decoration: none;
    float: right;
}


a.pass_edit {
  display: block;

  height: 14px;
  text-indent: 0px;
  text-decoration: none;
  background: url(../img/pass/lock_edit.png) no-repeat center center;
  overflow: hidden;
  border: none;
  padding-top: 18px;
  margin-top: 0px !important;
  float: left;
  text-align: center !important;
  margin-right: 10px;
  background-position: top;

}

a.user_edit {
  display: block;

  height: 14px;
  text-indent: 0px;
  text-decoration: none;
  background: url(../img/user/user_edit.png) no-repeat center center;
  overflow: hidden;
  border: none;
  padding-top: 18px;
  margin-top: 0px !important;
  float: left;
  text-align: center !important;
  margin-right: 10px;
  background-position: top;

}

a.workplace_edit {
  display: block;

  height: 14px;
  text-indent: 0px;
  text-decoration: none;
  background: url(../img/workplace/building_edit.png) no-repeat center center;
  overflow: hidden;
  border: none;
  padding-top: 18px;
  margin-top: 0px !important;
  float: left;
  text-align: center !important;
  margin-right: 10px;
  background-position: top;

}

a.user_edit:hover, a.pass_edit:hover, a.workplace_edit:hover {
  text-decoration: underline;


}


a.excluir {
  display: inline-table;
  width: 28px;
  height: 22px;
  text-indent: -9999px;
  text-decoration: none;
  background: url(../img/cross.png) no-repeat center center;
  overflow: hidden;
  border: none;
  position: relative;
  top : 0px;
  padding: 0px;
    float: right;

}


a.criar_user {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/user/user_add.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    line-height: 18px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 2px;
    text-indent: 1em;
}

a.lotacao_alterar {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/workplace/building_edit.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    line-height: 18px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 2px;
    text-indent: 1em;
}

a.remover_do_acap {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/user/user_delete.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    line-height: 18px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 2px;
    text-indent: 1em;
}

a.alterar_permissoes {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/user/user_edit.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    line-height: 18px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 2px;
    text-indent: 1em;
}


a.alterar_pass {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../img/pass/lock_edit.png");
    background-position: 0 1px;
    background-repeat: no-repeat;
    line-height: 18px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 2px;
    padding-top: 2px;
    text-indent: 1em;
}

a.retirar_acao {
  display: block;
  height: 14px;
  text-indent: 0px;
  text-decoration: none;
  background: url(../img/user/user_delete.png) no-repeat center center;
  overflow: hidden;
  border: none;
  padding-top: 18px;
  margin-top: 0px !important;
  float: left;
  text-align: center !important;
  margin-right: 10px;
  background-position: top;
  float: right;
}


a.alterar {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background: url(../img/pencil.png) no-repeat;
    background-position: 0 1px;
    background-repeat: no-repeat;
    line-height: 18px;
    padding-bottom: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 2px !important;
    text-indent: 1em;

}

a._fechar {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0 1px;
    background-repeat: no-repeat;
    line-height: 18px;
    padding-bottom: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 2px !important;
    text-indent: 1em;
    background: url(../img/application_form_delete.png) no-repeat ;

}

a._criar {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0 1px;
    background-repeat: no-repeat;
    line-height: 14px;
    padding-bottom: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 2px !important;
    background: url(../img/add_cross.png) no-repeat ;

}

a._buscar {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0 1px;
    background-repeat: no-repeat;
    line-height: 14px;
    padding-bottom: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 2px !important;
    background: url(../img/magnifier.png) no-repeat ;


}

/* END * icones ,Botões e Links by Carlos Wherbet */

/* Correção. Sobrescrevendo CSS que estão quebrando a aplicação  Carlos Wherbet*/

.dadosUsuario  dd {
    height: 20px ;
    left: 30em;
    padding-bottom: 0;
    top: -1.2em !important;
    width: 40em ;
}



/* END Correção. Sobrescrevendo CSS que estão quebrando a aplicação  Carlos Wherbet
Sr. Desinger, fique a vontade pra mudar!
*/

/* div com input para alterar senha.  Carlos Wherbet */
#alter_pass input {

display: inline !important;
width: auto !important;


}

#alter_pass {


}


/* END div com input para alterar senha Carlos Wherbet */

/*  div de legenda, em buscar usuários. Carlos Wherbet */
#legenda {
    bottom: -25px;
    height: 50px;
    position: fixed;
    right: 20px;
    text-align: right;
    width: 100%;
    z-index: 999999;

}

.inputsenha {
  width: 90px;
  }
/*  div de legenda, em buscar usuários. Carlos Wherbet */

/*  Fieldset Login. Carlos Wherbet */
.login {
  width: 350px;
  margin: 0 auto;
}
.login input[type="text"],.login input[type="password"] {
  width: 200px;
}

.login dl dd  {
  width: 200px !important;
  left: 120px;
}

.login dl dt  {
  width: 100px !important;
}


/* END Fieldset Login. Carlos Wherbet */

/* ABAS Carlos Wherbet */

#abas{
    color: #797979;
    display: block;
    float: left;
    height: 27px;
    margin-bottom: -13.3px;
    background-color: #ffffff !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 11px;
    background-color: #fffff;
    text-decoration: none;
    text-indent: 5px;
    width: 483px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    padding-left: 0px;

}
#abas li{
  display: inline;

}
#abas li a{
  display: block;
  width: auto;
  padding: 5px 8px;
  width: 144px;
  float: left;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  color: #797979;
  text-decoration: none;
  text-indent: 0px;
  border-bottom: 1px solid #cccccc;
  background-color: #E8E8E8;
  float: left;
  outline: none;


}
#abas li a.selected{
   background-color: #FFFFFF;
   border-bottom: 0px solid #cccccc;
   cursor: default;
   display: inline;
   font-weight: bold;
   text-decoration: underline;
}
.contaba {
  clear: both;

}

.abaInativa {

  display: block;
  width: auto;
  padding: 5px 8px;
  width: 144px;
  float: left;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  color: #ffffff;
  text-decoration: none;
  text-indent: 0px;
  border-bottom: 1px solid #cccccc;
  background-color: #E8E8E8;
  float: left;
  outline: none;


}


#1formVolume table thead tr th {
  background-color: #ffffff !important;
  border: 0px !important;
  color: #000000 !important;
  text-shadow: -1px 1px 0 #ffffff;
  }




/* END  ABAS Carlos Wherbet */


.ui-autocomplete {
  font-size: 12px !important;
}


.contextoPlataforma {
    color: #000000;
    float: left;
    font-size: 19px;
    margin-left: 10px;
    margin-top: 4px;
    text-shadow: 0 2px 3px #FFFFFF;

}

#caixaAcoes {
  border: 1px solid #cccccc;
    float: none;
    margin-top: 0px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    width: 250px;
    background: #FFFFAF;
    margin-bottom: 40px !important;
    padding-bottom: 30px;
    width: 99%;


}



#caixaAcoes fieldset , #caixaAcoes table, .boxAdm fieldset{
  background-color: #ffffff !important;



}

#caixaAcoes table td {
    text-align: left !important;
}

#caixaAcoes a {
  float: left;
}
#caixaAcoes span.operacoes {
   float: right;
  /* margin-top: -26px;
   font-weight: bold;
   background: #FFFFAF;
   border-right: 1px solid #cccccc;
   border-top: 1px solid #cccccc;
   border-left: 1px solid #cccccc;
   padding-left: 5px;
   padding-right: 10px;
   margin-left: -7px;
   text-shadow: 1px 1px #ffffff;
   padding-top: 5px; */



}


.titulo-form_ {




}

#infoDetalhes {
margin-top: 100px;


}

#infoDetalhes #caixaAcoes {
  width: 100%;
  float: none;
  font-size: 12px !important;

}

#infoDetalhes #caixaAcoes .labelOperacoes {
   float: right;
   margin-top: -20px;
   font-weight: bold;
   background: #ffffff;
   border-right: 1px solid #cccccc;
   border-top: 1px solid #cccccc;
   border-left: 1px solid #cccccc;
   padding-left: 5px;
   padding-right: px;
   margin-left: -7px;
   margin-right: 200px;

}

#infoDetalhes #caixaAcoes .operacoes {
   float: right;
   margin-top: -90px !important;
   width: 278px;

}

#caixaAcoes h3 {
  margin: 0px !important;
}


#caixaAcoes .caixaAcoesRight {
    border: 1px solid #cccccc;
    float: right;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    width: 250px;
    background: #ffffff;
    margin-bottom: 10px;

}

#operacoes, #operacoesVolume  {
  float: right;
  margin-top: -23px;
  position: relative;
  z-index: 99999;
  margin-right: 10px;

  }

#operacoesVolume {
    margin-top: -55px;
    position: relative;

}

 #operacoes a, #operacoesVolume  a {
   padding: 5px;
   text-decoration: underline;
 }

  #operacoes a:HOVER , #operacoesVolume  a:HOVER  {

   text-decoration: none;
}

/*   ACCORDION - Carlos Wherbet */
#accordion  {

   font-size: 12px;

  }

#accordion:HOVER{
   background: url(../img/degrade.jpg) repeat-x 0px -10px;
}


#accordion .ui-state-active  {
   background: url(../img/arrowUp.png) no-repeat left center ;
   background-position: 3px !important;



}

#accordion .ui-state-active:HOVER  {
   background: url(../img/arrowUpHover.png) no-repeat left center ;
   background-position: 3px !important;

}

#accordion .ui-state-default {
   background: url(../img/arrowDown.png) no-repeat left center !important;
   background-position: 3px !important;
}

#accordion .ui-state-default:HOVER   {
   background: url(../img/arrowDownHover.png) no-repeat left center !important;
   background-position: 3px !important;

}


#accordion h3 a span.label {
  color: #000000 !important;

}


#accordion a {
  color: #CC0000;
  text-decoration: none;
}

#accordion a span.label:HOVER {
  text-decoration: none;
  font-weight: bold;
;

}

#accordion fieldset {
  overflow: hidden !important;
}
#accordion dl dt {
  width: 200px !important;
  padding: 0px;
  overflow: hidden !important;
}

#accordion dl dd {
  width: auto !important;
  padding: 0px;
  overflow: hidden !important;

}
/*  END  ACCORDION - Carlos Wherbet */

#lstDocumentos  {
    float: right !important;
    height: 300px !important;
    left: 0;
    line-height: 1.6em;
    margin-right: 145px !important;
    margin-top: -379px !important;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    min-width: 370px;
    z-index: 999999;
    top: 0px;


}

#lstDocumentos div.text div a {
    display: inline-table;
    width: 100%;
}
#lstDocumentos div.text div a:HOVER{
background-color: #ffffff;
font-weight: 600;



}

.boxAdm {
 background-color: #FFFFAF;
 padding: 10px;
 border: 1px solid #cccccc;

}
/* Paginação   */
.paginacao-grid {


}

