/* Estilos ATLÂNTICO  */


/* Áreas */

#commands {
	margin-bottom: 10px;
}

#conteudo {
	margin-bottom: 60px;
}

#rodape {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;

}



/* Tabela de listagem (grid) */

#conteudo table {
	border:1px solid #e5e5e5;
	border-collapse:collapse;
	width:100%;
}

#conteudo table tbody tr td {
	text-align: left;
	white-space: normal;
}

#conteudo table thead tr th {
	background:none repeat scroll 0 0 #CC0000;
	border: 1px solid #990000;
	border-bottom:2px solid #990000;
	color:#FFFFFF;
}

.paginacao-grid {
	margin-top: 10px;
}

.paginacao-grid a {
	margin-right: 0.5em;
}

/* Ícones */

a.fechar {
	display:inline-block;
}


/* Forms */

.titulo-form {
	margin: -12px 0 1em 22px;
	font-size: 1.7em;
	color:#333;
}


#conteudo fieldset {
	border: 1px solid #d0d0d0;
	padding: 1em 1.9em ;
	margin-bottom:10px;
}

#conteudo legend {
	text-decoration: none;
}

#conteudo fieldset dl dd {
	left:30em;
	width:40em;
	top: -2em;
	padding-bottom: 0em;
}

#conteudo fieldset dl dd span {
	border-bottom: 1px dashed #ccc;
	padding-top: 0.5em;
	width: 100%;
	font-weight:bold;
	color: #555;
	display:block;
}

#conteudo fieldset dl dt {
	width:30em;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 0em;
}

#conteudo fieldset dl {
	padding-bottom: 0;
	margin-bottom:-20px;
}

#conteudo fieldset .form10 dt {
	width:10em;
}

#conteudo fieldset .form10 dd {
	left:10em;
}

#conteudo fieldset .form15 dt {
	width:15em;
}

#conteudo fieldset .form15 dd {
	left:15em;
}


/* Icons */

a.criar {
	background:url("../img/add_cross.png") no-repeat scroll 0 1px transparent;
	text-indent:1em;
	line-height:18px;
	padding: 2px 2px 5px 20px;
}

a.fechar
{
	background: url(../img/finished_work.png) no-repeat center center;
}

a.abrir
{
	display: inline-block;
	width: 28px;
	height: 22px;
	text-indent: -9999px;
	text-decoration: none;
	background: url(../img/folder_opened.png) no-repeat center center;
	overflow: hidden;
	border: none;	
	padding: 0px;
}

a.rejeitar
{
	background: url(../img/cancel.png) no-repeat center center;
}

a.descartar
{
	display: inline-block;
	width: 28px;
	height: 22px;
	text-indent: -9999px;
	text-decoration: none;
	background: url(../img/cross.png) no-repeat center center;
	overflow: hidden;
	border: none;	
	padding: 0px;
}

a.arquivar
{
	background: url(../img/system-file-manager.png) no-repeat center center;
}

a.visualizar
{
	background: url(../img/magnifier.png) no-repeat center center;
}

a.transferir
{
	display: inline-block;
	width: 28px;
	height: 22px;
	text-indent: -9999px;
	text-decoration: none;
	background: url(../img/folder_go.png) no-repeat center center;
	overflow: hidden;
	border: none;	
	padding: 0px;
}




