[% INCLUDE 'header.tt' %]
<h3>Ação - Sistema de Acompanhamento de Projetos Sociais</h3>
<p>Última atualização: 15/01/2010</p>
<span>[%status_msg%]</span>
<span>[%error_msg%]</span>
<ul>
 <li><a href="[%c.uri_for('/login')%]">Fazer Login</a></li>
 <li><a href="[%c.uri_for('/auth')%]">&Aacute;rea Autenticada</a></li>
</ul>
[% INCLUDE 'footer.tt' %]
