[% breadcrumb.unshift({ url => c.uri_for('/auth/registros/consolidador/') _ definicao_consolidacao.id_definicao_consolidacao,
			title => 'Definição Consolidacao',
			text  => 'Definição Consolidacao' }) %]
[% INCLUDE 'auth/registros/consolidador/header.tt' %]
