[% INCLUDE 'header.tt' %]
[% INCLUDE 'errosucesso.tt' %]
<form id="form" method="post" action="[%c.uri_for('/login')%]">
 <fieldset><legend>Dados de Autenticação</legend>
  <DL>
   <DT>Usuário:</DT>
   <DD><input type="text" id="user" name="user" /></DD>
   <DT>Senha:</DT>
   <DD><input type="password" id="name" name="password" /></DD>
   <input type="submit" name="submit" value="Entrar" />
  </DL>
 </fieldset>
</form>
[% INCLUDE 'footer.tt' %]
