<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
    <head>
        <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
        <title>Ação - Sistema de Acompanhamentos de Projetos Sociais</title>
        <link href='[% c.uri_for('/static/css/ui-lightness/jquery-ui-1.7.2.custom.css') %]' rel='stylesheet' type='text/css' />
        <link href='[% c.uri_for('/static/css/estilo.css') %]' rel='stylesheet' type='text/css' />
    </head>

    <body onLoad="Horas()">
        <div id='topo'>
        	<img src="[% c.uri_for('/static/img/logoBrasaoPMF.png') %]">
            <div id='topoTitulo'>
                Ação - Sistema de Acompanhamento de Projetos Sociais
                <table>
                    <tr>
                        <th>Operador:</th>
                        <td>Administrador</td>

                        <th>Servidor:</th>
                        <td>172.30.116.2</td>
                    </tr>
                    <tr>
                        <th>Data/Hora:</th>
                        <td><span id="clock">&nbsp;</span></td>
                        <th>Versão:</th>

                        <td>ação</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id='barraTopo'>
            <ul>
                <li><a href="#">Cadastros</a>
                  <ul><!--início do menu pendente-->
                    <li><a href="../../view/candidatos/pesquisar.php">Candidatos</a></li>
                    <li><a href="../../view/cargos/pesquisar.php">Cargos</a></li>
                    <li><a href="../../view/classificacoes/pesquisar.php">Classificação</a></li>
                    <li><a href="../../view/empresas/pesquisar.php">Empresas</a></li>
                    <li><a href="../../view/lotacao/pesquisar.php">Lotação</a></li>
                    <li><a href="../../view/modalidadeslicitacao/pesquisar.php">Modalidades de Licitação</a></li>
                    <li><a href="../../view/orgao/pesquisar.php">Orgão</a></li>
                    <li><a href="../../view/tiposadministracao/pesquisar.php">Tipos de Administração</a></li>
                    <li><a href="../../view/tiposcontrato/pesquisar.php">Tipos de Contrato</a></li>
                  </ul><!--fim do menu pendente-->
                </li>
                <li><a href="#">Manutenção</a>
                  <ul><!--início do menu pendente-->
                    <li><a href="../../view/operadores/pesquisar.php">Operadores</a></li>
		    <li><a href="../../view/perfis/pesquisar.php">Perfis</a></li>
                  </ul><!--fim do menu pendente-->
                </li>
                <li><a href="#">Ajuda</a></li>
                <li style="float: right"><a href="../../view/autenticacao/autenticacao.php?method=logout" title="Sair">Sair</a></li>
            </ul>
        </div>
        <div id='barraTopoCaminho'>
        	<a href='../../view/home/index.php' title='Início'>Início</a> »  <h2>Página Inicial</h2>
        </div>
        <div id="conteudo">
            <h3>Ação - Sistema de Acompanhamento de Projetos Sociais</h3>
            <p>Última atualização: 15/01/2010</p>
