<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
    <head onload="document.focus()">
	<script type="text/javascript">
	  function onload_focus(){
	    document.getElementById('user').focus();
	  }
	</script>
        <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
        <title>Ação - Sistema de Acompanhamentos de Projetos Sociais</title>
        <link href='[% c.uri_for('/static/css/ui-lightness/jquery-ui-1.7.2.custom.css') %]' rel='stylesheet' type='text/css' />
        <link href='[% c.uri_for('/static/css/estilo.css') %]' rel='stylesheet' type='text/css' />
    </head>

    <body onload="onload_focus();">
        <div id='topo'>
            <img src="[% c.uri_for('/static/img/logoBrasaoPMF.png') %]">
            <div id='topoTitulo'>
                Ação - Sistema de Acompanhamento de Projetos Sociais
            </div>
        </div>
        <div id='barraTopo'>
        </div>
        <div id="conteudo">
