[% INCLUDE 'auth/header.tt' %]
<h1>Registros</h1>
<ul>
 <li><a href="[%c.uri_for('digitador')%]">Digitador</a></li>
 <li><a href="[%c.uri_for('revisor/lista')%]">Revisor</a></li>
</ul>
[% INCLUDE 'footer.tt' %]